
#top {
  height: 30vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  background-image: url(https://images.unsplash.com/photo-1542349314-b0ceb4d90f2d?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODYyNTQ4ODh8&ixlib=rb-4.0.3&q=85);
  background-size: 100%;
  background-repeat: no-repeat;
}

#buttom {
  /* background-color: blue; */
  height: 70vh;
  display: block;
  background-image: url(../assets/landscape/mark-harpur-K2s_YE031CA-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

#buttom--left {
  /* background-color: pink; */
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

#buttom--right {
  /* background-color: yellow; */
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(../assets/landscape/mark-harpur-K2s_YE031CA-unsplash.jpg);
  background-size: cover;
  background-position: center center; */
}

#buttom--left--temp,
#buttom--left--sky,
#buttom-left--city {
  background-color: pink;
  width: 25%;
  height: 75%;
  /* text-align: center; */
  padding: 15px 10px;
}

#temp--title,
#sky--title,
#city--title {
  /*   background-color: pink; */
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
}

#temp--controls,
#sky--controls {
  /*   background-color: gray;  */
  display: flex;
  justify-content: space-around;

}

#city--controls {
  flex-direction: column;
  display: flex;
  align-items: center;
}

#reset-button {
  padding: 10px;
  /* width: 80px; */
}

#city-display {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 15px 10px;
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  color:white;
}

body {
  margin: 0;
  }